#!/usr/bin/make -f

export DEB_BUILD_MAINT_OPTIONS = hardening=+all
DPKG_EXPORT_BUILDFLAGS = 1
include /usr/share/dpkg/buildflags.mk

%:
	dh $@
	mkdir src/ukui-power-manager-qt/ukui-power-statistics-qt/build
	#use /usr/share/QtMultiversion/xxx/5.9/bin/qmake or higher Qt version
	cd src/ukui-power-manager-qt/ukui-power-statistics-qt/build && qmake ../ && make
	#mv built binary ukui-power-statistics-qt to /usr/bin/
override_dh_install:
	dh_install

override_dh_missing:
	dh_missing --fail-missing

override_dh_installchangelogs:
	dh_installchangelogs NEWS

override_dh_auto_configure:
	# upstream is without configure. autogen.sh will create it
	NOCONFIGURE=1 ./autogen.sh
	dh_auto_configure -- \
		--disable-silent-rules \
		--libexecdir=/usr/lib/ukui-power-manager \
		--enable-applets \
		--without-keyring \
		--enable-deprecated
